.msg_text_box {
    width: 100%;
    font-size: var(--textXMD);
    position: relative;
    min-height: 60px;
    border-radius: var(--roundedSM);
    margin-top: var(--spaceMD);
    padding: var(--spaceSM);
    padding-right: 110px;
}
.msg_text_send_btn, .msg_text_ext_btn{
    position: absolute;
    top: 20px;
    border-radius: var(--roundedCircle);
    border: none;
}
.msg_text_send_btn {
    background: var(--successBG);
    right: 20px;
    width: 40px;
    height: 40px;
    padding-right: 5px;
}
.msg_text_ext_btn {
    width: 41px;
    height: 41px;
    background: var(--secondaryBG);
    right: 70px;
}
.msg_text_send_btn:hover {
    background: var(--primaryBG);
}

.control_box {
    background: var(--secondaryBG);
    padding: var(--spaceSM);
    border-radius: var(--roundedSM);
    border: none;
}

/* MoleculesFilterSearch */
.search_bar {
    color: var(--whiteColor) !important;
    padding: var(--spaceSM) calc(var(--spaceLG) * 2.5) var(--spaceSM) var(--spaceMD) !important;
    border: 2px solid var(--secondaryBG) !important;
}
.search_holder {
    width: 75%;
    margin-right: var(--spaceMD);
    max-width: 400px;
    position: relative;
    display: inline-block !important;
}
.search_icon {
    position: absolute;
    top: 17.5px;
    right: 17.5px;
}

.role_box {
    border-radius: var(--roundedSM);
    padding: var(--spaceSM);
    margin-right: var(--spaceSM);
}