.story_status {
    font-size: var(--textXMD);
    color: var(--warningBG);
}

/* getFeedback */
.feedback_box {
    width: 100%;
    padding: var(--spaceLG);
    margin: var(--spaceLG) var(--spaceMD);
    border-radius: var(--roundedMD);
    border: 1.5px solid var(--greyBG);
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.feedback_box:hover {
    box-shadow: rgba(40, 179, 116, 1) 0px 4.5px 9px;
}

/* postDiscussion */
.msg_text_box {
    width: 100%;
    font-size: var(--textXMD);
    position: relative;
    min-height: 60px;
    border-radius: var(--roundedSM);
    margin-top: var(--spaceMD);
    padding: var(--spaceSM);
    padding-right: 110px;
}
.msg_text_send_btn, .msg_text_ext_btn{
    position: absolute;
    top: 20px;
    border-radius: var(--roundedCircle);
    border: none;
}
.msg_text_send_btn {
    background: var(--successBG);
    right: 20px;
    width: 40px;
    height: 40px;
    padding-right: 5px;
}
.msg_text_ext_btn {
    width: 41px;
    height: 41px;
    background: var(--secondaryBG);
    right: 70px;
}
.msg_text_send_btn:hover {
    background: var(--primaryBG);
}