a {
    color: inherit;
    text-decoration: none !important;
}

h1 {
    color: var(--primaryBG);
    font-size: var(--textXJumbo);
}

p, li, tspan {
    color: var(--whiteColor) !important;
}

.section-title {
    font-size: var(--textXL);
    color: var(--primaryBG);
}