a {
    color: inherit;
    text-decoration: none !important;
}
h1 {
    color: var(--primaryBG);
    font-size: var(--textXJumbo);
}
p, li, .apexcharts-legend-text {
    color: var(--whiteColor) !important;
}

.section-title {
    font-size: var(--textXL);
    color: var(--primaryBG);
}

.text-primary {
    color: var(--primaryBG) !important;
}

/* Table */
.table thead {
    font-size: var(--textMD) !important;
    font-weight: 600;
    text-align: center;
}
.table thead tr td, .table thead tr th{
    color: var(--whiteColor);
}
.table tbody {
    font-size: var(--textSM) !important;
}

/* Others */
.apexcharts-legend-text, g .apexcharts-yaxis {
    font-size: var(--textMD) !important;
}