/* Story Container */
.story_box, .discussion_box, .about_box, .profile_img_box {
    margin: var(--spaceMD) 0 var(--spaceMD) 0;
    border-radius: var(--roundedMD);
    border: 1.5px solid var(--greyBG);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.story_box {
    cursor: pointer;
}
.discussion_box {
    padding: var(--spaceLG);
}
.story_type {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: var(--primaryBG);
    padding: var(--spaceSM) calc(var(--spaceSM) + var(--spaceSM));
    border-radius: var(--roundedSM);
}
.story_box:hover, .discussion_box:hover {
    box-shadow: rgba(40, 179, 116, 1) 0px 4.5px 9px;
}
.story_creator_image {
    height: 50px !important;
    width: 50px !important;
}
.story_box img {
    height: 140px;
    width: 100%;
    border-radius: var(--roundedMD) var(--roundedMD) 0 0;
}
.box_body {
    padding: var(--spaceMD);
}
.box_body h2 {
    font-size: var(--textXL);
}
.box_body p {
    color: var(--greyBG);
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-line-clamp: 4; 
    line-clamp: 4; 
    -webkit-box-orient: vertical;
    margin-bottom: var(--spaceSM);
}


/* About Container */
.about_box {
    height: 400px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
    position: relative;
    border: none;
    margin-bottom: var(--roundedLG);
}
.about_box img {
    width: 400px;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    border-radius: var(--roundedLG);
}
.about_box img:hover {
    box-shadow: rgba(40, 179, 116, 1) 2px 7.5px 14px;
    border: none;
    transform: rotate(-7.5deg);
}
.about_box img:hover + .body_box {
    left: 500px !important;
    box-shadow: rgba(40, 179, 116, 1) 0px 4.5px 9px;
}

.about_box .body_box {
    right: 30px;
    padding: var(--spaceLG);
    position: absolute;
    border-radius: calc(var(--roundedMD) + var(--roundedSM));
    left: 10px;
    width: 400px;
    top: 30px;
    z-index: 99;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    transform: rotate(3deg);
}
.body_box label {
    color: var(--whiteColor);
    font-size: var(--textXL);
    background: var(--secondaryBG);
    font-weight: 500;
    padding: var(--spaceSM) var(--spaceMD);
    border-radius: var(--roundedSM);
}
.body_role {
    color: var(--whiteColor) !important;
    font-weight:600;
}

/* Profile Img Container */
.profile_img_box { 
    width: 350px;
    height: 350px;
    border-radius: var(--roundedLG);
}
.profile_img_box:hover { 
    box-shadow: rgba(40, 179, 116, 1) 0px 4.5px 9px;
}
.profile_img_box img { 
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: var(--roundedLG);
}