.btn_icon_title {
    border-radius: var(--roundedSM);
    padding: var(--spaceSM);
    background: var(--blackBG);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
    border: 1.5px solid var(--greyBG);
}
.btn_icon_title:hover {
    background: var(--successBG);
    border: 1.5px solid  var(--successBG);
}