.profile_box {
    padding: var(--spaceMD);
    margin: var(--spaceSM);
    background: var(--primaryBG);
    border-radius: var(--roundedSM);
    cursor: pointer;
    color: var(--whiteColor) !important;
}
.profile_box:hover {
    background: var(--successBG);
}
.page_bar, .page_bar_active {
    border: 1.5px solid var(--secondaryBG);
    border-radius: var(--roundedSM);
    padding: var(--spaceSM) var(--spaceMD);
    margin-right: var(--spaceSM);
    margin-top: var(--spaceSM);
    display: inline-block;
    cursor: pointer;
    color: var(--whiteColor);
    background: none;
}
.page_bar_active, .page_bar:hover {
    background: var(--secondaryBG);
}

/* getFeedback */
.feedback_box {
    width: 100%;
    padding: var(--spaceLG);
    margin: var(--spaceLG) var(--spaceMD);
    border-radius: var(--roundedMD);
    border: 1.5px solid var(--greyBG);
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.feedback_box:hover {
    box-shadow: rgba(40, 179, 116, 1) 0px 4.5px 9px;
}

/* Discussion */
.discussion_box {
    width: 75%;
    min-width: 480px;
}

/* Story Container */
.story_box, .discussion_box, .about_box, .profile_img_box {
    margin: var(--spaceMD) 0 var(--spaceMD) 0;
    border-radius: var(--roundedMD);
    border: 1.5px solid var(--greyBG);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
}
.discussion_box {
    padding: var(--spaceLG);
}
.story_box:hover, .discussion_box:hover {
    box-shadow: rgba(40, 179, 116, 1) 0px 4.5px 9px;
}