.profile_box {
    padding: var(--spaceMD);
    margin: var(--spaceSM);
    background: var(--primaryBG);
    border-radius: var(--roundedSM);
    cursor: pointer;
    color: var(--whiteColor) !important;
}
.profile_box:hover {
    background: var(--successBG);
}
.page_bar, .page_bar_active {
    border: 1.5px solid var(--secondaryBG);
    border-radius: var(--roundedSM);
    padding: var(--spaceSM) var(--spaceMD);
    margin-right: var(--spaceSM);
    margin-top: var(--spaceSM);
    display: inline-block;
    cursor: pointer;
    color: var(--whiteColor);
    background: none;
}
.page_bar_active, .page_bar:hover {
    background: var(--secondaryBG);
}