
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/*All Pages*/
.content {
  padding-top: 20vh;
  padding-bottom: 10vh;
  position: relative;
  max-width: 1080px;
  min-height: 100vh;
  width: 100%;
}
.form-control{
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}





