
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}
a {
  color: inherit;
  text-decoration: none !important;
}
table th{
  color: whitesmoke;
}
table td{
  color: #808080;
}
.text-title{
  color:#28b374 !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/*All Pages*/
.content {
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  min-height: 100vh;
  width: 100%;
}
.summary-box{
  font-size:18px !important;
  color: whitesmoke;
}
.form-control{
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.custom-tbody{
  max-height: 100% !important; 
  overflow-y: auto;
  position: relative;
  padding: 10px;
  border: 2px solid #555;
  border-radius: 10px;
}
.custom-tbody .dropdown{
  position: absolute;
  right: 10px;
  top: 10px;
}
.label-max{
  font-size: 11px !important;
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #808080; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #245ad0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*Typography*/
h6 {
  color:whitesmoke;
}

.btn-icon{
  width: 45px;
  height: 45px;
  margin: 6px;
  text-align: center;
  padding: 8px !important;
  background: transparent;
  border: 2px solid #414141 !important;
  color: #414141;
}
.btn-icon.social:hover{
  color: whitesmoke;
}
.btn-icon.social:hover{
  background: #28b374;
  border: 2px solid #28b374 !important;
}

.btn-icon.social{
  border-radius:100% !important;
}


